{% extends "base.html" %}

{% block content %}

<!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{{ form.media.css }}

<div class="container">
<form action="{% url "carga:crear-obra" %}" method="POST"> 

{% csrf_token %}
{{ form.errors }}
    <div class="row mx-md-n5"> {{form.obra_nombre.label}} {{ form.obra_nombre }} </div>
    <div class="row mx-md-n5"> {{form.obra_soluciones.label}} {{ form.obra_soluciones }} </div>
    <div class="row mx-md-n5"> {{form.obra_empresa.label}} {{ form.obra_empresa }} </div>
    <div class="row mx-md-n5"> {{form.obra_localidad.label}} {{ form.obra_localidad }} </div>
    <div class="row mx-md-n5"> {{form.obra_programa.label}} {{ form.obra_programa }} </div>
    <div class="row mx-md-n5"> {{form.obra_convenio.label}} {{ form.obra_convenio }} </div>    
    <div class="row mx-md-n5"> {{form.obra_expediente.label}} {{ form.obra_expediente }} </div>
    <input type='submit' value='Guardar' />
</form>
</div>

{{ form.media.js }}

<script>
$('select').select2().on("select2-close", function () {
    setTimeout(function() {
        $('.select2-container-active').removeClass('select2-container-active');
        $(':focus').blur(); 
    }, 1);
});
</script>



{% endblock %}