{% extends "base.html" %}

{% block content %}

<!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{{ form.media.css }}

<div class="container-fluid">
<form action="{% url "carga:update-certificado" object.id %}" method="POST"> 

{% csrf_token %}
{{ form.errors }}
<div class="row mx-md-n5"> {{form.certificado_obra.label}} {{ form.certificado_obra }} </div>
<div class="row row-cols-3">
  <div class="col-auto"> <small>{{form.certificado_financiamiento.label}}</small> {{ form.certificado_financiamiento }} </div>
  <div class="col-auto"> <small>{{form.certificado_rubro_anticipo.label}}</small> {{ form.certificado_rubro_anticipo }} </div>
  <div class="col-auto"> <small>{{form.certificado_rubro_obra.label}}</small> {{ form.certificado_rubro_obra }} </div>
  <div class="col-auto"> <small>{{form.certificado_rubro_devanticipo.label}}</small> {{ form.certificado_rubro_devanticipo }} </div>
</div>
<div class="row mx-md-n5"> {{form.certificado_expediente.label}} {{ form.certificado_expediente }} </div>
<div class="row mx-md-n5"> Fecha de Medición(Tal como figura en la Foja de Medición) {{ form.certificado_fecha }} </div>
<div class="row mx-md-n5"> {{form.certificado_monto_pesos.label}} (Monto sin Descuento de Anticipo) {{ form.certificado_monto_pesos }} </div>
<div class="row mx-md-n5"> {{form.certificado_mes_pct.label}} {{ form.certificado_mes_pct }} </div>
<div class="row mx-md-n5"> {{form.certificado_ante_pct.label}} {{ form.certificado_ante_pct }} </div>
<div class="row mx-md-n5"> {{form.certificado_acum_pct.label}} {{ form.certificado_acum_pct }} </div>
<div class="row mx-md-n5"> {{form.certificado_devolucion_expediente.label}} {{ form.certificado_devolucion_expediente }} </div>
<div class="row mx-md-n5"> {{form.certificado_devolucion_monto.label}} {{ form.certificado_devolucion_monto }} </div>
<div class="row mx-md-n5"> {{form.certificado_monto_uvi.label}} (Monto Final en UVI) {{ form.certificado_monto_uvi }} </div>
<input type='submit' value='Guardar' class="btn" />
</form>
</div>

{{ form.media.js }}

<script>
$(function () {
    $.datetimepicker.setLocale('es');
    $("#id_certificado_fecha").datetimepicker({
    timepicker:false,
    format: 'd/m/Y',
    });
  });
$('select').select2().on("select2-close", function () {
    setTimeout(function() {
        $('.select2-container-active').removeClass('select2-container-active');
        $(':focus').blur(); 
    }, 1);
});
</script>



{% endblock %}