{% extends "base.html" %}

{% block content %}

<!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{{ form.media.css }}

<div class="container">
<form action="{% url "carga:update-obra" object.id %}" method="POST"> 

{% csrf_token %}
{{ form.errors }}
    <div class="row mx-md-n5 required"> {{form.obra_nombre.label}} {{form.obra_nombre}} </div>
    <div class="row mx-md-n5"> {{form.obra_soluciones.label}} {{form.obra_soluciones}} </div>
    <div class="row mx-md-n5 required"> {{form.obra_empresa.label}} {{form.obra_empresa}} </div>
    <div class="row mx-md-n5 required"> {{form.obra_localidad.label}} {{form.obra_localidad}} </div>
    <div class="row mx-md-n5"> {{form.obra_grupo.label}} {{form.obra_grupo}} </div>
    <div class="row mx-md-n5"> {{form.obra_plazo.label}} {{form.obra_plazo}} </div>
    <div class="row mx-md-n5 required"> {{form.obra_programa.label}} {{form.obra_programa}} </div>
    <div class="row mx-md-n5"> {{form.obra_conjunto_licitado.label}} {{form.obra_conjunto_licitado}} </div>
    <div class="row mx-md-n5"> {{form.obra_convenio.label}} {{form.obra_convenio}} </div>    
    <div class="row mx-md-n5 required"> {{form.obra_expediente.label}} {{form.obra_expediente}} </div>
    <div class="row mx-md-n5"> {{form.obra_resolucion.label}} {{form.obra_resolucion}} </div>
    <div class="row mx-md-n5"><u>Compulsa:</u> </div>
    <div class="row row-cols-3">
      <div class="col-auto"> Tipo: {{ form.obra_licitacion_tipo }} </div>
      <div class="col-auto"> {{form.obra_licitacion_numero.label}} {{ form.obra_licitacion_numero }} </div>
      <div class="col-auto"> {{form.obra_licitacion_ano.label}} {{ form.obra_licitacion_ano }} </div>
    </div>
    <div class="row mx-md-n5"> {{form.obra_nomenclatura.label}} {{form.obra_nomenclatura}} </div>
    <div class="row mx-md-n5"> {{form.obra_fecha_contrato.label}} {{form.obra_fecha_contrato}} </div>
    <div class="row mx-md-n5 required"> {{form.obra_inspector.label}} {{form.obra_inspector}} </div>
    <div class="row mx-md-n5"> {{form.obra_contrato_nacion_pesos.label}} {{form.obra_contrato_nacion_pesos}} </div>
    <div class="row mx-md-n5"> {{form.obra_contrato_nacion_uvi.label}} {{form.obra_contrato_nacion_uvi}} </div>
    <div class="row mx-md-n5"> {{form.obra_contrato_nacion_uvi_fecha.label}} {{form.obra_contrato_nacion_uvi_fecha}} </div>
    <div class="row mx-md-n5"> {{form.obra_contrato_provincia_pesos.label}} {{form.obra_contrato_provincia_pesos}} </div>
    <div class="row mx-md-n5"> {{form.obra_contrato_provincia_uvi.label}} {{form.obra_contrato_provincia_uvi}} </div>
    <div class="row mx-md-n5"> {{form.obra_contrato_provincia_uvi_fecha.label}} {{form.obra_contrato_provincia_uvi_fecha}} </div>
    <div class="row mx-md-n5"> {{form.obra_contrato_terceros_pesos.label}} {{form.obra_contrato_terceros_pesos}} </div>
    <div class="row mx-md-n5"> {{form.obra_contrato_terceros_uvi.label}} {{form.obra_contrato_terceros_uvi}} </div>
    <div class="row mx-md-n5"> {{form.obra_contrato_terceros_uvi_fecha.label}} {{form.obra_contrato_terceros_uvi_fecha}} </div>
    <div class="row mx-md-n5"> {{form.obra_observaciones.label}} {{form.obra_observaciones}} </div>
    <div class="row mx-md-n5"> {{form.obra_obra_madre.label}} {{form.obra_obra_madre}} </div>
    <input type='submit' value='Guardar' class="btn" />
</form>
</div>

{{ form.media.js }}

<script>
$(function () {
    $.datetimepicker.setLocale('es');
    $("#id_obra_fecha_entrega").datetimepicker({
    timepicker:false,
    format: 'd/m/Y',
    });
    $("#id_obra_fecha_contrato").datetimepicker({
    timepicker:false,
    format: 'd/m/Y',
    });
  });
$('select').select2().on("select2-close", function () {
    setTimeout(function() {
        $('.select2-container-active').removeClass('select2-container-active');
        $(':focus').blur(); 
    }, 1);
});
</script>



{% endblock %}