<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="shortcut icon" href="{%  static '/favicon.ico' %}">
  <link href="{% static "style.css" %}" rel="stylesheet">
  <!-- Bootstrap & Popper JS-->
  <link rel="stylesheet" type="text/css" href="{% static "/Bootstrap5/css/bootstrap.min.css" %}">
  <script src="{% static "/Bootstrap5/js/bootstrap.bundle.min.js" %}"></script>
  <!-- DataTables -->
	<link rel="stylesheet" type="text/css" href="{% static "/DataTables/DataTables-1.11.5/css/dataTables.bootstrap5.min.css" %}">
  <script type="text/javascript" charset="utf8" src="{% static "/DataTables/datatables.min.js" %}"></script>
  <!-- YADCF & Ellipsis -->
  <script type="text/javascript" charset="utf8" src="{% static "/DataTables/yadcf-ellipsis.js" %}"></script>
  <!-- Select2 plugin CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "/select2/select2.min.css" %}">
	<!-- Select2 plugin JS -->
	<script src="{% static "/select2/select2.min.js" %}"></script>
  <!-- Moment.js -->
  <script src="{% static "/moment/moment.js" %}"></script>
  <script src="{% static "/moment/es.js" %}"></script>
  <script src="{% static "/moment/datetime.js" %}"></script>
  
  
<title>Polizador V3.0</title>

</head>
<body>
<div class="d-print-none">
	{% include "navbar.html" %}
</div>

<div>
	{% block content %}
	Contenido dinámico
	{% endblock %}
</div>


</body>
</html>