{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
      <table id="lista-polizas" class="table table-striped table-bordered align-middle" style="width:100%">
          <thead>
              <tr>
                <th> Acciones </th>
                <th> Fecha </th>
                <th> Receptor </th>
                <th> Area </th>
                <th> Expediente </th>
                <th> Concepto de Póliza </th>
                <th> Número de Póliza </th>
                <th> Anexo de Póliza </th>
                <th> Recibo de Pago </th>
                <th> Entidad Aseguradora </th>
                <th> Obra </th>
                <th> Empresa/Tomador </th>
                <th> Monto Sustituido(Pesos) </th>
                <th> Monto Sustituido(UVI) </th>
                <th> Convenio Específico </th>
                <th> Expediente de Obra </th>
                <th> Editor </th>
                <th> Ultimo Editor </th>
              </tr>
          </thead>
          <tfoot>
            <tr>
              <th> Acciones </th>
              <th> Fecha </th>
              <th> Receptor </th>
              <th> Area </th>
              <th> Expediente </th>
              <th> Concepto de Póliza </th>
              <th> Número de Póliza </th>
              <th> Anexo de Póliza </th>
              <th> Recibo de Pago </th>
              <th> Entidad Aseguradora </th>
              <th> Obra </th>
              <th> Empresa/Tomador </th>
              <th> Monto Sustituido(Pesos) </th>
              <th> Monto Sustituido(UVI) </th>
              <th> Convenio Específico </th>
              <th> Expediente de Obra </th>
              <th> Editor </th>
              <th> Ultimo Editor </th>
            </tr>
        </tfoot>
      </table>
</div>

<script>
  $(document).ready( function() {
      'use strict';
      var TablePoliza
      TablePoliza = $('#lista-polizas').DataTable({
      serverSide: true,
      processing: true,
      scrollX: true,
      dom: '<fl<t>ip>B',
        buttons: [
          {extend: 'excel', text: "Exportar a Excel"}
      ],
      order: [[0, "desc"]],
      lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
      "language": {"url": 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'},
      "ajax": {"url": "/api/api/legacy_polizas/?format=datatables"},
      columnDefs: [{"targets": 0, "data": "id", "render": function ( data, type, row, meta ) 
		{ return '<a href="/polizas/legacy_update/'+data+'"><img src="/static/edit.png" alt="Editar" width="30" height="30"/></a><a href="/polizas/legacy_imprimir/'+data+'"><img src="/static/print.png" alt="Imprimir" width="30" height="30"/></a>';} }],
      columns: [
        {"data":"id", searchable: false, orderable: false},
        {"data":"legacy_poliza_fecha"},
        {"data":"legacy_poliza_receptor.receptor_nombre", "name":"legacy_poliza_receptor.receptor_nombre", searchable: false, orderable: false},
        {"data":"legacy_poliza_area.area_nombre", "name":"legacy_poliza_area.area_nombre", orderable: false},
        {"data":"legacy_poliza_expediente", orderable: false},
        {"data":"legacy_poliza_concepto", searchable: false, orderable: false},
        {"data":"legacy_poliza_numero"},
        {"data":"legacy_poliza_anexo", searchable: false, orderable: false},
        {"data":"legacy_poliza_recibo"},
        {"data":"legacy_poliza_aseguradora.aseguradora_nombre", "name":"legacy_poliza_aseguradora.aseguradora_nombre", orderable: false},
        {"data":"legacy_poliza_obra_nombre"},
        {"data":"legacy_poliza_tomador.empresa_nombre", "name":"legacy_poliza_tomador.empresa_nombre"},
        {"data":"legacy_poliza_monto_pesos", 'render': function (legacy_poliza_monto_pesos) {  
          return '$' + legacy_poliza_monto_pesos;
          }, searchable: false, orderable: false},
        {"data":"legacy_poliza_monto_uvi"},
        {"data":"legacy_poliza_obra_convenio"},
        {"data":"legacy_poliza_obra_expediente"},
        {"data":"legacy_poliza_creador", searchable: false},
        {"data":"legacy_poliza_editor", searchable: false},
      ],
    });
    TablePoliza.buttons().container()
    .appendTo( $('.col-sm-6:eq(0)', TablePoliza.table().container() ) );
    yadcf.init(TablePoliza, [
        {
          // Fecha
          column_number: 1,
          filter_type: "select",
          filter_default_label: "Filtrar",
        },
        {
          // Area
          column_number: 3,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          // Aseguradora
          column_number: 9,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          // Empresa
          column_number: 13,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        ],
        "footer",
        );
});
  </script>

{% endblock %}