{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-12">
      <table id="lista-certificados" class="table table-striped table-bordered align-middle" style="width:100%">
          <thead>
              <tr>
                <th> ID </th>
                <th> Programa </th>
                <th> Obra </th>
                <th> Localidad </th>
                <th> Empresa </th>
                <th> ObN° </th>
                <th> AntN° </th>
                <th> DevN° </th>
                <th> RedN° </th>
                <th> Terr.N° </th>
                <th> Recom.N° </th>
                <th> Expediente </th>
                <th> Fecha </th>
                <th> Monto Pesos </th>
                <th> Monto UVI </th>
                <th> Acciones </th>
              </tr>
          </thead>
          <tfoot>
            <tr>
              <th> ID </th>
              <th> Programa </th>
              <th> Obra </th>
              <th> Localidad </th>
              <th> Empresa </th>
              <th> ObN° </th>
              <th> AntN° </th>
              <th> DevN° </th>
              <th> RedN° </th>
              <th> Terr.N° </th>
              <th> Recom.N° </th>
              <th> Expediente </th>
              <th> Fecha </th>
              <th> Monto Pesos </th>
              <th> Monto UVI </th>
              <th> Acciones </th>
            </tr>
        </tfoot>
      </table>
  </div>
</div>

<script>
$(document).ready( function() {
  var TableCertificado = $('#lista-certificados').DataTable({
    serverSide: true,
    processing: true,
    scrollX: true,
    lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
    "language": {"url": 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'},
    "ajax": { "url": '/api/api/certificados/?format=datatables', "format": "GET", },
    order: [[1, "asc"]],
    columnDefs: [{"targets": -1, "data": "id", "render": function ( data, type, row, meta ) 
		{ return '<p><a href="/polizas/crear/certificado/'+data+'">Editar</a></p>';} }],
    "columns": [
            {"data": "id", searchable: false},
            {"data": "certificado_programa.programa_nombre", "name": "certificado_programa.programa_nombre"},
            {"data": "certificado_obra.obra_nombre", "name": "certificado_obra.obra_nombre"},
            {"data": "certificado_localidad.localidad_nombre", "name": "certificado_localidad.localidad_nombre"},
            {"data": "certificado_empresa.empresa_nombre", "name": "certificado_empresa.empresa_nombre"},
            {"data": "certificado_rubro_obra"},
            {"data": "certificado_rubro_anticipo"},
            {"data": "certificado_rubro_devanticipo"},
            {"data": "certificado_rubro_691"},
            {"data": "certificado_rubro_terreno"},
            {"data": "certificado_rubro_recomposicion"},
            {"data": "certificado_expediente"},
            {"data": "certificado_fecha"},
            {"data": "certificado_monto_pesos"},
            {"data": "certificado_monto_uvi"},
            {"data": "id", searchable: false},
            ]
      });
      
yadcf.init(TableCertificado, [
        {
          column_number: 1,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 2,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 3,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 4,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 5,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 6,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 7,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 8,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 9,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 10,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 11,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 12,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 13,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 14,
					filter_type: "select",
          filter_default_label: "Filtrar"
        },
        ],
        "footer",
        );
      });
</script>

{% endblock %}