{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-12">
      <table id="lista-polizas" class="table table-striped table-bordered align-middle" style="width:100%">
          <thead>
              <tr>
                <th> Acciones </th>
                <th> Fecha </th>
                <th> Receptor </th>
                <th> Area </th>
                <th> Expediente </th>
                <th> Concepto de Póliza </th>
                <th> Número de Póliza </th>
                <th> Anexo de Póliza </th>
                <th> Recibo de Pago </th>
                <th> Entidad Aseguradora </th>
                <th> Obra </th>
                <th> Convenio Específico </th>
                <th> Expediente de Obra </th>
                <th> Empresa/Tomador </th>
                <th> Monto Sustituido(Pesos) </th>
                <th> Monto Sustituido(UVI) </th>
                <th> Editor </th>
                <th> Ultimo Editor </th>
              </tr>
          </thead>
          <tfoot>
            <tr>
              <th> Acciones </th>
              <th> Fecha </th>
              <th> Receptor </th>
              <th> Area </th>
              <th> Expediente </th>
              <th> Concepto de Póliza </th>
              <th> Número de Póliza </th>
              <th> Anexo de Póliza </th>
              <th> Recibo de Pago </th>
              <th> Entidad Aseguradora </th>
              <th> Obra </th>
              <th> Convenio Específico </th>
              <th> Expediente de Obra </th>
              <th> Empresa/Tomador </th>
              <th> Monto Sustituido(Pesos) </th>
              <th> Monto Sustituido(UVI) </th>
              <th> Editor </th>
              <th> Ultimo Editor </th>
            </tr>
        </tfoot>
      </table>
  </div>
</div>

<script>
  $(document).ready( function() {
      'use strict';
      var TablePoliza
      TablePoliza = $('#lista-polizas').DataTable({
      serverSide: true,
      processing: true,
      scrollX: true,
      order: [[0, "desc"]],
      lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
      "language": {"url": 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'},
      "ajax": {"url": "/api/api/polizas/?format=datatables"},
      columnDefs: [{"targets": 0, "data": "id", "render": function ( data, type, row, meta ) 
		{ return '<p><a href="/polizas/update/'+data+'">Editar</a></p><p><a href="/polizas/imprimir/'+data+'">Imprimir</a></p>';} }],
      columns: [
        {"data":"id", searchable: false},
        {"data":"poliza_fecha"},
        {"data":"poliza_receptor.receptor_nombre", "name":"poliza_receptor.receptor_nombre", searchable: false},
        {"data":"poliza_area.area_nombre", "name":"poliza_area.area_nombre"},
        {"data":"poliza_expediente"},
        {"data":"poliza_concepto"},
        {"data":"poliza_numero"},
        {"data":"poliza_anexo"},
        {"data":"poliza_recibo"},
        {"data":"poliza_aseguradora.aseguradora_nombre", "name":"poliza_aseguradora.aseguradora_nombre"},
        {"data":"poliza_obra_nombre"},
        {"data":"poliza_obra_convenio"},
        {"data":"poliza_obra_expediente"},
        {"data":"poliza_tomador.empresa_nombre", "name":"poliza_tomador.empresa_nombre"},
        {"data":"poliza_monto_pesos"},
        {"data":"poliza_monto_uvi"},
        {"data":"poliza_creador", searchable: false},
        {"data":"poliza_editor", searchable: false},
      ],
    });
    yadcf.init(TablePoliza, [
        {
          column_number: 1,
          filter_type: "select",
          filter_default_label: "Filtrar",
        },
        {
          column_number: 3,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 4,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          // YADCF doesnt seem to support "get_display" objects filtering. Leaving the code for the "Compulsa Tipo"
          // column as placeholder until i find a solution for the problem.
          column_number: 5,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 6,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 7,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 8,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 9,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 10,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 12,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 13,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 14,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        {
          column_number: 15,
          filter_type: "select",
          filter_default_label: "Filtrar"
        },
        ],
        "footer",
        );
});
  </script>

{% endblock %}