{% extends "base.html" %}
{% block content %}

<table id="lista-polizas" class="display cell-border compact"style="width:100%">
<thead>
<tr>
	<th data-data="id"> ID </th>
	<th data-data="poliza_fecha"> Fecha </th>
	<th data-data="poliza_receptor.receptor_nombre" data-name="poliza_receptor.receptor_nombre"> Receptor </th>
	<th data-data="poliza_area.area_nombre" data-name="poliza_area.area_nombre"> Area </th>
	<th data-data="poliza_expediente"> Expediente </th>
	<th data-data="poliza_concepto"> Concepto de Póliza </th>
	<th data-data="poliza_numero"> Número de Póliza </th>
	<th data-data="poliza_anexo"> Anexo de Póliza </th>
	<th data-data="poliza_recibo"> Recibo de Pago </th>
	<th data-data="poliza_aseguradora.aseguradora_nombre" data-name="poliza_aseguradora.aseguradora_nombre"> Entidad Aseguradora </th>
	<th data-data="poliza_obra_nombre"> Obra </th>
	<th data-data="poliza_obra_convenio"> Convenio Específico </th>
	<th data-data="poliza_obra_expediente"> Expediente Obra </th>
	<th data-data="poliza_tomador.empresa_nombre" data-name="poliza_tomador.empresa_nombre"> Empresa/Tomador </th>
	<th data-data="poliza_monto_pesos"> Monto Sustituido </th>
	<th data-data="poliza_monto_uvi"> UVI </th>
	<th data-data="poliza_creador"> Editor </th>
	<th data-data="poliza_editor"> Ultimo Editor </th>
</tr>
</thead>
<tfoot>
	<th> ID </th>
	<th> Fecha </th>
	<th> Receptor </th>
	<th> Area </th>
	<th> EXpediente </th>
	<th> Concepto de Póliza </th>
	<th> Número de Póliza </th>
	<th> Anexo de Póliza </th>
	<th> Recibo de Pago </th>
	<th> Entidad Aseguradora </th>
	<th> Obra </th>
	<th> Convenio Específico </th>
	<th> Expediente de Obra </th>
	<th> Empresa/Tomador </th>
	<th> Monto Sustuido </th>
	<th> UVI </th>
</tfoot>
</table>

<script>
$(document).ready( function() {
    var TablePoliza = $('#lista-polizas').DataTable({
		serverSide: true,
        language: {url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'},
		ajax: '/api/api/polizas/?format=datatables',
		lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
        dom: '<"top"if>rt<"bottom"lp><"clear">',
		columnDefs: [{"targets": 0, "data": "id", "render": function ( data, type, row, meta ) 
		{ return '<p><a href="/polizas/update/'+data+'">Editar</a></p><p><a href="/polizas/imprimir/'+data+'">Imprimir</a></p>';} }],
		initComplete: function () {
            count = 0;
            this.api().columns().every( function () {
                var title = this.header();
                //replace spaces with dashes
                title = $(title).html().replace(/[\W]/g, '-');
                var column = this;
                var select = $('<select id="' + title + '" class="select2" ></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                      //Get the "text" property from each selected data 
                      //regex escape the value and store in array
                      var data = $.map( $(this).select2('data'), function( value, key ) {
                        return value.text ? '^' + $.fn.dataTable.util.escapeRegex(value.text) + '$' : null;
                                 });
                      
                      //if no data selected use ""
                      if (data.length === 0) {
                        data = [""];
                      }
                      
                      //join array into string with regex or (|)
                      var val = data.join('|');
                      
                      //search for the option(s) selected
                      column
                            .search( val ? val : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' );
                } );
              
              //use column title as selector and placeholder
              $('#' + title).select2({
                multiple: true,
                closeOnSelect: false,
                placeholder: "Buscar en: " + title
              });
              
              //initially clear select otherwise first option is selected
              $('.select2').val(null).trigger('change');
            } );
        }
});
});
</script>

{% endblock %}