{% extends "base.html" %}
{% block content %}

<table id="lista-obras" class="display cell-border compact"style="width:100%">
<thead>
<tr>
	<th data-data="id"> ID </th>
	<th data-data="obra_nombre"> Nombre </th>
	<th data-data="obra_soluciones"> Cantidad de Soluciones </th>
	<th data-data="obra_empresa.empresa_nombre" data-name="obra_empresa.empresa_nombre"> Empresa </th>
	<th data-data="obra_localidad.localidad_nombre" data-name="obra_localidad.localidad_nombre"> Localidad </th>
	<th data-data="obra_programa.programa_nombre" data-name="obra_programa.programa_nombre"> Programa </th>
	<th data-data="obra_convenio"> Convenio/ACU </th>
	<th data-data="obra_expediente"> Expediente </th>
</tr>
</thead>
<tfoot>
	<th> ID </th>
	<th> Nombre </th>
	<th> Cantidad de Soluciones </th>
	<th> Empresa </th>
	<th> Localidad </th>
	<th> Programa </th>
	<th> Convenio/ACU </th>
	<th> Expediente </th>
</tfoot>
</table>

<script>
$(document).ready( function() {
    var TableObra = $('#lista-obras').DataTable({
		serverSide: true,
        language: {url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'},
		ajax: '/api/api/obras/?format=datatables',
		lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
        dom: '<"top"if>rt<"bottom"lp><"clear">',
        order: [[1, "asc"]],
		columnDefs: [{"targets": 0, "data": "id", "render": function ( data, type, row, meta ) 
		{ return '<p><a href="/obras/update/'+data+'">Editar</a></p><p><a href="/obras/imprimir/'+data+'">Imprimir</a></p>';} }],
		initComplete: function () {
            count = 0;
            this.api().columns().every( function () {
                var title = this.header();
                //replace spaces with dashes
                title = $(title).html().replace(/[\W]/g, '-');
                var column = this;
                var select = $('<select id="' + title + '" class="select2" ></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                      //Get the "text" property from each selected data 
                      //regex escape the value and store in array
                      var data = $.map( $(this).select2('data'), function( value, key ) {
                        return value.text ? '^' + $.fn.dataTable.util.escapeRegex(value.text) + '$' : null;
                                 });
                      
                      //if no data selected use ""
                      if (data.length === 0) {
                        data = [""];
                      }
                      
                      //join array into string with regex or (|)
                      var val = data.join('|');
                      
                      //search for the option(s) selected
                      column
                            .search( val ? val : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' );
                } );
              
              //use column title as selector and placeholder
              $('#' + title).select2({
                multiple: true,
                closeOnSelect: false,
                placeholder: "Buscar en: " + title
              });
              
              //initially clear select otherwise first option is selected
              $('.select2').val(null).trigger('change');
            } );
        }
});
});
</script>
{% endblock %}