<!-- Barra de naufragación -->
<nav class="navbar navbar-expand-lg navbar-light d-print-none">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainnavbar">
		  <span class="navbar-toggler-icon"></span>
		</button>
  
		<div class="collapse navbar-collapse justify-content-md-center" id="mainnavbar">
		  <ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link active dropdown-toggle" href="#" id="dropdown-listas" data-bs-toggle="dropdown" aria-expanded="false">Listados</a>
				<ul class="dropdown-menu" aria-labelledby="dropdown-listas">
				  <li><a class="dropdown-item" href="{% url "api:legacy_polizas" %}">Legacy Pólizas</a></li>
				  <li><a class="dropdown-item" href="{% url "api:polizas" %}">Listar Pólizas</a></li>
				  <li><a class="dropdown-item" href="{% url "api:empresas" %}">Listar Empresas</a></li>
				  <li><a class="dropdown-item" href="{% url "api:obras" %}">Listar Obras</a></li>
				  <li><a class="dropdown-item" href="{% url "api:certificados" %}">Listar Certificados</a></li>
				</ul>
			  </li>
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="{% url "carga:legacy-crear-poliza" %}">Cargar Póliza VIEJO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{% url "carga:crear-poliza" %}">Cargar Póliza</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="{% url "carga:crear-empresa" %}">Cargar Empresa</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="{% url "carga:crear-obra" %}">Cargar Obra</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{% url "carga:crear-certificado" %}">Cargar Certificado</a>
			</li>
			{% if request.user.is_authenticated %}
			<li class="nav-item dropdown">
				<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> {{ request.user.first_name }} {{request.user.last_name }} </a>
				<ul class="dropdown-menu">
				  <li><a class="dropdown-item" href="{% url "logout" %}"> Salir </a></li>
				</ul>
			</li>
			{% else %}
			<li class="nav-item"><a class="nav-link" href="{% url "login" %}"> Ingresar </a></li>
			{% endif %}
		  </ul>
	  </div>
</nav>